<section class="outf_s4 uid{{ section.id }}  {{ section.settings.section_class }}">
	<div class="svg_top">
		<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="100%" viewBox="0 0 1919 242" enable-background="new 0 0 1919 242" xml:space="preserve" style="height: auto;">
		    <path xmlns="http://www.w3.org/2000/svg" fill="#FEF7F1" opacity="1.000000" stroke="none" d=" M1.000000,63.000000   C1.000000,42.337269 1.000000,21.674538 1.000000,1.061325   C640.666687,1.061325 1280.333374,1.061325 1920.000000,1.061325   C1920.000000,68.776466 1920.000000,136.430283 1919.542725,204.533600   C1903.031494,205.972351 1886.978760,207.742233 1870.923096,207.770798   C1845.834229,207.815414 1820.702148,207.361588 1795.665405,205.845688   C1772.716553,204.456192 1749.727661,202.305145 1727.014282,198.812103   C1699.379517,194.562195 1671.838989,189.330597 1644.572266,183.138626   C1597.563110,172.463425 1551.637939,157.906189 1506.172241,141.922256   C1469.321411,128.966980 1432.545654,115.793190 1395.606812,103.093643   C1348.479370,86.891212 1301.059814,71.524193 1252.120239,61.693573   C1228.773926,57.003922 1205.177856,53.411987 1181.576904,50.186119   C1165.511841,47.990311 1149.257690,47.056973 1133.060059,45.979988   C1110.057617,44.450546 1087.043945,42.673332 1064.008911,42.149235   C1029.602661,41.366425 995.176880,41.686661 960.419189,45.036121   C942.090088,46.930382 924.206177,48.857689 905.973633,50.795654   C903.793823,51.084393 901.962769,51.362476 899.688477,51.735695   C894.864075,52.559643 890.482971,53.288460 885.647278,54.005367   C883.994324,54.117573 882.795837,54.241680 881.255371,54.378189   C879.301514,54.646355 877.689697,54.902111 875.666138,55.115532   C871.863586,55.730255 868.472717,56.387318 864.686279,57.028038   C862.503540,57.366634 860.716309,57.721577 858.532654,58.083031   C856.347961,58.545002 854.559753,59.000462 852.394104,59.430962   C848.375000,59.992661 844.733398,60.579315 840.693604,61.119537   C836.530334,62.020802 832.765198,62.968502 828.614868,63.909752   C826.511719,64.297272 824.793701,64.691238 822.689148,65.025391   C820.538147,65.339020 818.773682,65.712471 816.609131,66.074898   C810.147705,67.416801 804.086304,68.769737 797.620483,70.094849   C788.156799,72.096123 779.097534,74.125206 769.638672,76.121536   C763.526123,77.448006 757.813232,78.807236 751.746704,80.155251   C750.268921,80.470818 749.144714,80.797592 747.621643,81.102486   C745.771179,81.403862 744.313965,81.703773 742.868958,82.054008   C729.241150,85.357193 715.615417,88.668968 701.587402,91.989944   C697.771973,92.864441 694.358154,93.727242 690.525269,94.650345   C686.398376,95.515541 682.690613,96.320442 678.593567,97.105148   C673.456421,98.304413 668.708496,99.523865 663.545410,100.771027   C659.758850,101.570198 656.387634,102.341660 652.667542,103.083565   C651.216248,103.388710 650.113708,103.723427 648.605530,104.043350   C643.427551,105.407257 638.655334,106.785942 633.475647,108.080208   C630.350525,108.400589 627.632751,108.805397 624.548096,109.209045   C622.121643,109.795959 620.062073,110.384026 617.582642,110.957092   C609.446655,112.682365 601.730591,114.422646 593.608643,116.123703   C583.659058,118.087036 574.116638,120.095634 564.571350,122.090775   C548.716919,125.404671 532.860596,128.709900 516.588989,131.983368   C510.471771,133.030029 504.770599,134.112091 498.666626,135.196945   C491.501740,136.546021 484.739685,137.892319 477.588867,139.220734   C474.463715,139.789413 471.727386,140.375992 468.591888,140.937820   C467.152374,141.102753 466.112030,141.292435 464.674927,141.479736   C458.446106,142.477966 452.614044,143.478577 446.343811,144.485107   C441.239075,145.249939 436.572479,146.008865 431.478821,146.751129   C428.039124,147.182922 425.026459,147.631393 421.576599,148.024445   C416.425446,148.638382 411.711517,149.307739 406.571106,149.920013   C403.100342,150.282074 400.056030,150.701233 396.643005,151.028763   C395.521088,151.000122 394.767822,151.063110 393.618958,151.076675   C391.480286,151.338730 389.737305,151.650238 387.533081,151.883362   C381.053680,152.240021 375.035461,152.675079 368.553345,153.057129   C360.725739,153.381180 353.362091,153.758240 345.531921,154.085510   C330.710205,154.020584 316.354919,154.005447 301.719849,153.881866   C299.991913,153.795502 298.543732,153.817581 296.731689,153.690796   C294.263916,153.430023 292.160065,153.318115 289.792786,153.083588   C289.335907,152.970627 289.142426,152.980301 288.513367,152.958527   C282.112488,152.587692 276.147186,152.248291 269.825439,151.856583   C269.001312,151.894424 268.533600,151.984558 267.807800,151.780472   C264.363281,151.058670 261.176849,150.631088 257.619751,150.155334   C256.502899,150.116928 255.756653,150.126709 254.696381,149.973633   C252.850189,149.938599 251.318024,150.066437 249.847870,150.173355   C249.909912,150.152435 249.833588,150.258820 249.739731,149.875244   C244.795334,148.649521 239.944794,147.807404 234.710831,146.891998   C232.529114,146.482559 230.730835,146.146423 228.655655,145.550400   C225.210693,144.888046 222.042633,144.485565 218.509491,143.991516   C200.731506,139.508759 183.318619,135.117584 165.692139,130.458374   C164.721909,129.849686 163.983459,129.459091 163.205963,129.175613   C138.480988,120.160980 113.707817,111.275986 89.045601,102.092987   C78.986649,98.347519 69.167023,93.959274 58.989948,89.606094   C55.071159,87.987007 51.260628,86.913498 47.757751,85.208069   C38.285610,80.596390 29.012911,75.573883 19.526258,70.993622   C13.474968,68.071983 7.183681,65.647430 1.000000,63.000000  z"/>
		</svg>
	</div>
    {% if section.settings.show_small_image %}
      <div class="outf_s4_img">
        {{ section.settings.small_image | image_url: width: 1500 | image_tag }}
      </div>
    {% endif %}
    <div class="outf_s4_in">
    	<div class="inner">
    		<div class="left">
    			<div class="image" style="background-image:url({{ section.settings.image | img_url:'1920X' }});">
                    <img src="{{ section.settings.image | img_url:'1920X' }}" alt="{{ section.settings.imagealt  }}">
                </div>
    		</div>
    		<div class="right">
    			<div class="right_in">
    				<h3 class="h5">{{ section.settings.subtitle  }}</h3>
    				<h3 class="h2">{{ section.settings.title  }}</h3>
    
    				<div class="accordion_body">
    					{% for block in section.blocks %}
    					<div class="col">
      						<div class="accordion_hand">
      							<span class="pluse"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.5 45.8" style="enable-background:new 0 0 44.5 45.8;" xml:space="preserve"> <style type="text/css"> .st0{fill:none;stroke:#023940;stroke-width:2.5;stroke-miterlimit:10;} .st1{enable-background:new    ;} .st2{fill:#023940;} </style> <g id="Group_1475" transform="translate(1.758 1.758)"> <ellipse id="Ellipse_51" class="st0" cx="20.5" cy="20.5" rx="14.6" ry="14.6"/> <g class="st1"> <path class="st2" d="M28.2,21.8h-6.7v6.8h-1.9v-6.8h-6.7V20h6.7v-6.8h1.9V20h6.7V21.8z"/> </g> </g> </svg></span>
      							<span class="minse"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 44.5 45.8" style="enable-background:new 0 0 44.5 45.8;" xml:space="preserve"> <style type="text/css"> .st0{fill:none;stroke:#023940;stroke-width:2.5;stroke-miterlimit:10;} .st1{enable-background:new    ;} .st2{fill:#023940;} </style> <g id="Group_1474" transform="translate(1.758 1.758)"> <ellipse id="Ellipse_51" class="st0" cx="20.5" cy="20.5" rx="14.6" ry="14.6"/> <g class="st1"> <path class="st2" d="M26.4,20v1.8H14.7V20H26.4z"/> </g> </g> </svg></span>
      							{{ block.settings.title }}
      						</div>
      						<div class="accordion_content">
      							<article>
      								{{ block.settings.text }}
      							</article>
      						</div>
    					</div>
    					{% endfor %}
    				</div>
                    {% if section.settings.show_buttonl %}
                    <div class="button_link">
        				<a href="{{ section.settings.buttonl  }}">{{ section.settings.buttont  }}</a>
        			</div>
                    {% endif %}
    			</div>
    		</div>
    	</div>
    </div>
    <div class="svg_bottom">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920.014" height="210.881" viewBox="0 0 1920.014 210.881">
          <g id="Scroll_Group_6" data-name="Scroll Group 6" transform="translate(-127 -1)" style="isolation: isolate">
            <path id="Path_2382" data-name="Path 2382" d="M1625.165,390.878c8.262-293.891,203.969-87.981,403.189-53.022,189.48,24.815,376.336-38.281,594.053-76.946,368.625-65.455,437.218,158.056,974.65,23.7,198.057-49.513,79.623-23.7,79.623-23.7V2209.06H1749.407S1616.9,684.767,1625.165,390.878Z" transform="translate(-1624.794 -235.179)" fill="#fef7f1"/>
          </g>
        </svg>
    </div>
</section>

{% schema %}
{
    "name": "Home - What To Expect",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Sub-Title",
          "default": "What To Expect"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Unwind like you’re on Vacay."
        },
        {
            "type":"image_picker",
            "id":"image",
            "label":"Left Image"
        },
        {
            "type":"checkbox",
            "id":"show_small_image",
            "label":"Show Small Image"
        },
        {
            "type":"image_picker",
            "id":"small_image",
            "label":"Small Image"
        },
        {
            "type": "checkbox",
            "id": "show_buttonl",
            "default": false,
            "label": "Show Button (wave)"
        },
        {
          "type": "text",
          "id": "buttont",
          "label": "Button Text",
          "default": "Subscribe & Save"
        },
        {
          "type": "textarea",
          "id": "buttonl",
          "label": "Button Link",
          "default": "#"
        },
        {
            "type": "text",
            "id": "section_class",
            "label": "Section Class"
        }
    ],
    "blocks": [
        {
        "type":"usvsthem",
        "name": "What To Expect",
        "settings": [
            {
              "type": "textarea",
              "id": "title",
              "label": "Title",
              "default": "A Microdosed Experience"
            },
            {
              "type": "richtext",
              "id": "text",
              "default": "<p>It’s a small amount of THC, so you can get buzzed, not blitzed.</p>",
              "label": "Content"
            }
        ]
        }
    ],
    "presets": [
        {
          "name": "Home - What To Expect",
          "blocks": []
        }
    ]
}
{% endschema %}