<style type="text/css">
  .uidtemplate--24008811348280__out_of_office_product_you_might_also_like_UgF9XP.nightcap-thc-gummies-ps8{
    background-color:;
  }
  @media (max-width: 767px){
    .uidtemplate--24008811348280__out_of_office_product_you_might_also_like_UgF9XP.nightcap-thc-gummies-ps8{
      background-color:;
    }
  }

.youmightalsolike{     
  position: relative; 
  background-color: #ebefff ;
}
.youmightalsolike:before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0383/5717/2364/files/Scroll_Group_9.png?v=1734894169);
    background-position: left top;
    background-size: cover;
    position: absolute;
    top: -288px;
    right: 0px;
    width: 306px;
    height: 485px;
    z-index: 1;
}
.youmightalsolike .inner {
    padding-top: 150px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 80.3%;
    max-width: 1080px;
    margin: 0px auto;
    padding-bottom: 128px;
}
.youmightalsolike .left{
    width: 49.1%;
    padding-left: 2px;
    padding-bottom: 20px;
}
.youmightalsolike .left .col{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 54px 54px 54px 49px;
    border-radius: 40px;
    background-color: #fff;
    background-position: center;
}
.youmightalsolike .left .col .ymal_title{
    font-family: 'Raspberie';
    margin: 0px;
    font-size: 41.4px;
    line-height: 1.06;
    letter-spacing: -0.9px;
    color: #023940;!;
    max-width: 252px;
}
.youmightalsolike .right{
    width: 50.9%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
} 
.youmightalsolike .right .col{
    width: 50%;
    padding-left: 20px;
    padding-bottom: 20px;
}
.youmightalsolike .right .colin{
    background: #c9d1f0;
    border-radius: 0px 42px 42px 42px;
    overflow: hidden;
    padding-bottom: 25px;
    height: 100%;
}
.youmightalsolike .right .img{
    width: 100%;
    display: block;
    height: 240px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
        background-color: #FFF;
}
.youmightalsolike .right .img img{
    width: auto;
    height: 100%;
    margin: 0px auto;
    display: block;
}
.youmightalsolike .right .img a{}
.youmightalsolike .right .ptitle{
    text-align: left;
    margin: 0px;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #222E31;
    font-size: 18px;
    letter-spacing: 0.3px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 23px;
    line-height: 1.24;
}
.youmightalsolike .right .ptitle a{
    color: #222E31;
    text-decoration: none;
}
.youmightalsolike .right .psubtitle{
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-overflow: ellipsis;
    letter-spacing: .3px;
    line-height: 1.46;
    margin: 0px;
}
.youmightalsolike .right .pprice{
    text-align: left;
    margin: 0px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #222E31;
    font-size: 16px;
    letter-spacing: -0.7px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 24px;
    line-height: 1.24;
}
@media (max-width: 1024px){
    .youmightalsolike:before{
        top: -118px;
        right: 0px;
        width: 155px;
        height: 245px;
        z-index: 1;
    }
}
@media (max-width: 768px){
.youmightalsolike{}
.youmightalsolike .inner{
    padding-top: 60px;
    padding-bottom: 40px;
}
.youmightalsolike .left{
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
    margin-bottom: 0px;
}
.youmightalsolike .left .col{}
.youmightalsolike .left .col .ymal_title{}
.youmightalsolike .right{
    width: 104%;
    margin-left: -10px;
    margin-right: -10px;
    /* display: flex; */
    /* justify-content: space-between; */
    /* grid-row-gap: 20px; */
} 
.youmightalsolike .right .col{
    padding-left: 10px;
    /* width: unset; */
    padding-right: 10px;
}
.youmightalsolike .right .colin{}
.youmightalsolike .right .img{background-size: contain;background-color: #FFF;}
.youmightalsolike .right .img a{}
.youmightalsolike .right .ptitle{
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.youmightalsolike .right .ptitle a{}
.youmightalsolike .right .psubtitle{
    padding-left: 20px;
    padding-right: 20px;
}
.youmightalsolike .right .pprice{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
    .youmightalsolike:before {
        top: -60px;
        right: 0px;
        width: 100px;
        height: 155px;
        z-index: 1;
    }
    .youmightalsolike .right .img {
        height: auto;
    }
.youmightalsolike .right .img img {
    width: 100%;
    height: auto;
    margin: 0px auto;
    display: block;
}
}
</style>

<div class="youmightalsolike uid{{ section.id }}  {{ section.settings.sectionclass }}">
  <div class="inner">
    <div class="left">
      <div class="col" style="background-image:url({{ section.settings.image | img_url:'768X' }});">
        <p class="ymal_title">{{ section.settings.title  }}</p>
      </div>
    </div>
    <div class="right">
      {% for block in section.blocks %}
      <div class="col">
        <div class="colin">
          <span class="img">
            <a href="{{ block.settings.llink }}" target="_blank">
              <img src="{{ block.settings.image | img_url:'768X' }}" alt="">
            </a>
          </span>
          <p class="ptitle"><a href="{{ block.settings.llink }}" target="_blank">{{ block.settings.title }}</a></p>
          <p class="psubtitle">{{ block.settings.subtitle }}</p>
          <p class="pprice">{{ block.settings.price }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
    "name": "Also Like (Product)",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "You Might Also Like"
        },
        {
            "type":"image_picker",
            "id":"image",
            "label":"Image"
        },
        {
          "type": "color",
          "id": "section_bacground_color",
          "label": "Desktop Background Color"
        },
        {
          "type": "color",
          "id": "section_bacground_color_mobile",
          "label": "Mobile Background Color"
        },
        {
          "type": "text",
          "id": "sectionclass",
          "label": "Section Class",
        }
    ],
    "blocks": [
        {
        "type":"products",
        "name": "Product Items",
        "settings": [
            {
                "type":"textarea",
                "label": "Title",
                "id": "title"
            },              
            {
                "type":"textarea",
                "label": "Sub-Title",
                "id": "subtitle"
            },       
            {
                "type":"text",
                "label": "Price",
                "id": "price"
            }, 
            {
                "type":"image_picker",
                "id":"image",
                "label":"Image"
            },       
            {
                "type":"text",
                "label": "Link",
                "id": "llink"
            }
        ]
        }
    ],
    "presets": [
        {
          "name": "Also Like (Product)",
          "blocks": []
        }
    ]
}
{% endschema %}