<style type="text/css">
  {% if section.settings.section_bacground_color != blank %}
    .uid{{ section.id }}{% if section.settings.sectionclass != blank %}.{{ section.settings.sectionclass }}{% endif %}{
      background-color:{{section.settings.section_bacground_color}};
    }
  {% endif %}

  .nightcap-thc-gummies-ps5 .outf_s5_usvsthem_product .outf_s5_usvsthem_in {
    padding-top: 114px;
  }
  .nightcap-thc-gummies-ps5 .inner{
    padding: 2px 8px 113px 7px;
  }
.nightcap-thc-gummies-ps5{
  position: relative;
}
.nightcap-thc-gummies-ps5:before {
    content: "";
    top: -73px;
    right: unset;
    left: 0px;
    width: 413px;
    height: 288px;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    display: block;
    background-image: url(https://cdn.shopify.com/s/files/1/0840/7701/9448/files/Scroll_Group_6.png?v=1736019296);
}
  
.nightcap-thc-gummies-ps5:after {
    content: "";
    bottom: -69px;
    right: 0px;
    left: unset;
    width: 466px;
    height: 295px;
    background-position: left top;
    background-size: cover;
    background-image: url(https://cdn.shopify.com/s/files/1/0840/7701/9448/files/Scroll_Group_7.png?v=1736018933);
    display: block;
    background-repeat: no-repeat;
    position: absolute;
}

.nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:last-child .col1, 
.nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:last-child .col3 {
    border-bottom: 0px solid #023940;
}
@media (max-width: 1024px){
    .nightcap-thc-gummies-ps5:before{
        top: -73px;
        right: unset;
        left: 0px;
        width: 300px;
        height: 207px;
    }
    .nightcap-thc-gummies-ps5:after {
        bottom: -74px;
        right: 0px;
        left: unset;
        width: 247px;
        height: 176px;
    }
}
  @media (max-width: 768px){
    .nightcap-thc-gummies-ps5 .inner {
        padding: 60px 0px 60px 0px !important;
    }
    .nightcap-thc-gummies-ps5 .outf_s5_title {
        padding-top: 0px;
    }
    .nightcap-thc-gummies-ps5 .outf_s5_usvsthem_in .outf_s5_uvtcol .col2 span {
        border-radius: 32px;
    }
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col .col2 img,
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col .col3 span img{
        width: 20px;
    }
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:first-child .col2 p, 
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:first-child .col3 p {
        display: none;
    }

    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:first-child {
        height: auto;
    }
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:first-child .col1,
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:first-child .col2,
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col:first-child .col3{ min-height: auto; }
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in .col .col1 {
        padding-top: 32.5px;
        padding-bottom: 32.5px;
    }
    .nightcap-thc-gummies-ps5 .outf_s5_uvt_in {
        padding-top: 35px;
    }
    .nightcap-thc-gummies-ps5 .outf_s5_uvt {
        padding-bottom: 77px;
    }
    .nightcap-thc-gummies-ps5:before{ display: none;}
    .nightcap-thc-gummies-ps5:after {
        bottom: -58px;
        width: 150px;
        height: 120px;
    }
    {% if section.settings.section_bacground_color_mobile != blank %}
      .uid{{ section.id }}{% if section.settings.sectionclass != blank %}.{{ section.settings.sectionclass }}{% endif %}{
        background-color:{{section.settings.section_bacground_color_mobile}};
      }
    {% endif %}
  }
</style>

<div class="outf_s5_usvsthem outf_s5_usvsthem_product uid{{ section.id }}  {{ section.settings.sectionclass }}">
    {% if section.settings.show_svg %}
    <span class="svg_top desktop_only">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920.624" height="261.096" viewBox="0 0 1920.624 261.096">
          <g id="Scroll_Group_9" data-name="Scroll Group 9" transform="translate(-109)" style="isolation: isolate">
            <path id="Path_2382" data-name="Path 2382" d="M77.228,779.889c-16.8-385.506,139.8-109.6,477.583-48.539,352.557,63.739,550.462-139.671,850.521-143.065,301.82-13.12,405.478,32.8,661.565,108.162,6.1,931.628-42.787,879.98-42.787,1993.1L19.269,2612.259S94.027,1165.4,77.228,779.889Z" transform="matrix(0.999, -0.035, 0.035, 0.999, -39.404, -506.145)" fill="#feecd5"/>
          </g>
        </svg>
    </span>
    <span class="svg_top mobile_only">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="428.716" height="108.84" viewBox="0 0 428.716 108.84">
        <g id="Scroll_Group_21" data-name="Scroll Group 21" transform="translate(-236 -119)"  style="isolation: isolate">
          <path id="Path_2382" data-name="Path 2382" d="M-8.376,736.207c-103-307.355,112.624-89.033,357-49.318,255.065,41.453,346-140.928,665.777-100.8,248.223-190.985,293.351,21.332,478.623,70.344,4.411,605.891,0,381.274,0,1105.2H107.467S94.624,1043.562-8.376,736.207Z" transform="translate(34.731 -507.8)" fill="#feecd5"/>
        </g>
      </svg>
    </span>
    {% endif %}

    <div class="outf_s5_usvsthem_in">
        <div class="inner">
            <p class="outf_s5_subtitle">{{ section.settings.subtitle  }}</p>
            <p class="outf_s5_title">{{ section.settings.title  }}</p>

            <div class="outf_s5_uvt">
              <div class="outf_s5_uvtcol">
                <div class="col1"></div>
                <div class="col2"><span style="background-image:url({{ section.settings.image2 | img_url:'1920X' }});"></span></div>
                <div class="col3"></div>
              </div>
              <div class="outf_s5_uvt_in">
                {% for block in section.blocks %}
                <div class="col">
                    <div class="col1">
                        {% if block.settings.title != blank %}
                        <p>{{ block.settings.title }}</p>
                        {% endif %}
                    </div>
                    <div class="col2">
                        {% if block.settings.ustitle != blank %}
                        <p>{{ block.settings.ustitle }}</p>
                        {% endif %}

                        {% if block.settings.image != blank %}
                        <span><img src="{{ block.settings.image | img_url:'768X' }}" alt=""></span>
                        {% endif %}
                    </div>
                    <div class="col3">
                        {% if block.settings.themetitle != blank %}
                        <p>{{ block.settings.themetitle }}</p>
                        {% endif %}

                        {% if block.settings.image2 != blank %}
                        <span><img src="{{ block.settings.image2 | img_url:'768X' }}" alt=""></span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
              </div>
            </div>
        </div>
    </div>

    {% if section.settings.show_svg %}
    <span class="svg_bottom desktop_only">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1921.485" height="271.479" viewBox="0 0 1921.485 271.479">
        <g id="Scroll_Group_10" data-name="Scroll Group 10" transform="translate(-144 -177)" style="isolation: isolate">
          <g id="Scroll_Group_11" data-name="Scroll Group 11" transform="translate(20.018)" clip-path="url(#clip-path-2)" style="isolation: isolate">
            <path id="Path_2382" data-name="Path 2382" d="M3736.844,381.554c-8.47-242-224.618-33.743-440.091-31.341-194.252,20.433-331.925-59.026-555.125-90.863-377.908-53.9-439.129,212.927-990.095,102.3-203.045-40.77-46.4-9.835-46.4-9.835l61.674,726.245,1925.6-110.875S3745.314,623.548,3736.844,381.554Z" transform="matrix(0.998, 0.07, -0.07, 0.998, -1568.25, -189.683)" fill="#fffaf5"/>
          </g>
        </g>
      </svg>
    </span>
    <span class="svg_bottom mobile_only">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="428.212" height="149.255" viewBox="0 0 428.212 149.255">
          <g id="Scroll_Group_20" data-name="Scroll Group 20" transform="translate(-359 -475)" style="isolation: isolate">
            <path id="Path_2385" data-name="Path 2385" d="M-8.376,671.16S71.346,610.921,224.3,633.438c159.641,23.5,275.333-91.175,411.2-92.426,136.667-4.838,179.869,57.133,295.828,84.921,2.761,343.52-6.641,97.622-6.641,508.066H57.488Z" transform="translate(1152.836 1133.999) rotate(180)" fill="#feecd5"/>
          </g>
        </svg>
    </span>
    {% endif %}
</div>

{% schema %}
{
    "name": "Us Vs. Them (Product)",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "checkbox",
            "id": "show_svg",
            "default": true,
            "label": "Show SVG (wave)"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Sub-Title",
          "default": "Us Vs. Them"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Now Every Day Can Feel Like A Vacay."
        },
        {
            "type":"image_picker",
            "id":"image2",
            "label":"Background Image (Vacay Gummies)"
        },
        {
          "type": "color",
          "id": "section_bacground_color",
          "label": "Desktop Background Color"
        },
        {
          "type": "color",
          "id": "section_bacground_color_mobile",
          "label": "Mobile Background Color"
        },
        {
          "type": "text",
          "id": "sectionclass",
          "label": "Section Class",
        }
    ],
    "blocks": [
        {
        "type":"usvsthem",
        "name": "Us Vs. Them",
        "settings": [
            {
                "type":"textarea",
                "label": "Title",
                "id": "title"
            },              
            {
                "type":"textarea",
                "label": "Us Title",
                "id": "ustitle"
            },
            {
                "type":"image_picker",
                "id":"image",
                "label":"Us/Check Image"
            },              
            {
                "type":"textarea",
                "label": "Theme Title",
                "id": "themetitle"
            },
            {
                "type":"image_picker",
                "id":"image2",
                "label":"Theme/Close Image"
            }
        ]
        }
    ],
    "presets": [
        {
          "name": "Us Vs. Them (Product)",
          "blocks": []
        }
    ]
}
{% endschema %}